certifi==2018.10.15
chardet==3.0.4
dj-database-url==0.5.0
Django==2.0.1
django-annoying==0.10.4
django-heroku==0.3.1
gunicorn==19.9.0
idna==2.7
Markdown==2.6.11
psycopg2==2.7.5
psycopg2-binary==2.7.5
-e git+https://github.com/DanteBortone/pybbm.git@b85012e7c4aebc999fbdb677da6580de2a497f3e#egg=pybbm
python-dateutil==1.5
pytz==2018.3
requests==2.20.0
six==1.11.0
sorl-thumbnail==12.4.1
Unidecode==1.0.22
urllib3==1.24
whitenoise==4.1
